<div class="content">
    <div class="row">
        <div class="col-md-12">
            <a [routerLink]="['/cliente']" routerLinkActive="router-link-active" class="btn btn-info btn-round">
                Lista de Clientes
            </a>
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Cadastro de Cliente</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="id">ID</label>
                                    <input type="text" class="form-control" [(ngModel)]="cliente.id" [ngModelOptions]="{standalone: true}" name="id" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input type="text" class="form-control" [(ngModel)]="cliente.nome" [ngModelOptions]="{standalone: true}" name="nome" placeholder="Nome do Cliente">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="endereco">Endereço</label>
                                    <input type="text" class="form-control" [(ngModel)]="cliente.endereco" [ngModelOptions]="{standalone: true}" name="endereco" placeholder="Endereço do Cliente">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="telefone">Telefone</label>
                                    <input type="text" class="form-control" [(ngModel)]="cliente.telefone" [ngModelOptions]="{standalone: true}" name="telefone" placeholder="Nr de Telefone">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="sexo">Sexo</label>
                                    <select [(ngModel)]="cliente.sexo" [ngModelOptions]="{standalone: true}" name="sexo" class="form-control">
                                        <option value="Masculino">Masculino</option>
                                        <option value="Feminino">Feminino</option>
                                    </select>                                    
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="estado">Ativo</label>                                    
                                    <input type="checkbox" class="form-control" name="estado" [(ngModel)]="cliente.ativo" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" (click)="salvarCliente()" class="btn btn-primary btn-round">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>